
@using IlanSistemi.UI.Areas.Admin.Models;
@model List<ReportListViewModel>
<div class="col-lg-6 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">İlanda Olan Ürünler</h4>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>Kullanıcı</th>
						<th>Ürün</th>
						<th>Durum</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>

								@if (item._Users.ImageUrl == null)
								{

									<img class="img-sm rounded-circle" src="~/template/images/profil.jpg" alt="" alt="profile image">
								}
								else
								{
									<img class="img-sm rounded-circle" src="~/UserImage/@item._Users.ImageUrl" alt="profile image">
								}							
							
								
							</td>


							<td> @item._Users.UserName </td>

							<td>@item._Advert.Title</td>
							
							<td> <label class="badge badge-success">Aktif</label>					
							</td>
						</tr>
					}

				
				</tbody>
			</table>
		</div>
	</div>
</div>