
<nav class="sidebar sidebar-offcanvas" id="sidebar">
	<ul class="nav">
		<li class="nav-item nav-category">
			<span class="nav-link">Dashboard</span>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Admin/Dashboard/Index">
				<span class="menu-title">Anasayfa</span>
				<i class="icon-screen-desktop menu-icon"></i>
			</a>
		</li>
		<li class="nav-item nav-category"><span class="nav-link">Yapılacak işlemler</span></li>
		<li class="nav-item">
			<a class="nav-link" href="/Admin/Kategori/Index/">
				<span class="menu-title">Kategori Listele</span>
				<i class="icon-directions menu-icon"></i>
			</a>
			
		</li>		
		<li class="nav-item">
			
			<a class="nav-link" href="/Admin/Urun/Index/">
				<span class="menu-title">Ürünleri Listele</span>
				<i class=" icon-social-dropbox menu-icon"></i>
			</a>
		</li>		
		<li class="nav-item">
			<a class="nav-link" href="/Admin/Kullanici/Index/">
				<span class="menu-title">Kullanıcıları Listele</span>
				<i class="icon-list menu-icon"></i>
			</a>
		</li>
		<li class="nav-item nav-category"><span class="nav-link">Ayalar</span></li>
		
		<li class="nav-item">
			<a class="nav-link" href="/User/Login/LogOut">
				<span class="menu-title">Çıkış</span>
				<i class=" icon-power menu-icon"></i>
			</a>
		</li>
	</ul>
</nav>