
<nav class="sidebar sidebar-offcanvas" id="sidebar">
	<ul class="nav">
		<li class="nav-item nav-category">
			<span class="nav-link">Dashboard</span>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Admin/Dashboard/Index">
				<span class="menu-title">Anasayfa</span>
				<i class="icon-screen-desktop menu-icon"></i>
			</a>
		</li>
		<li class="nav-item nav-category"><span class="nav-link">Kategori İşlemlerİ</span></li>
		<li class="nav-item">
			<a class="nav-link" href="/Admin/Kategori/Index/">
				<span class="menu-title">Kategori Listele</span>
				<i class="icon-list menu-icon"></i>
			</a>
			
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Admin/Kategori/EditKategori/">
				<span class="menu-title">Kategori Düzenle</span>
				<i class="icon-book-open menu-icon"></i>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Admin/Kategori/DeleteKategori/">
				<span class="menu-title">Kategori Sil</span>
				<i class="icon-trash menu-icon"></i>
			</a>
		</li>
		<li class="nav-item nav-category"><span class="nav-link">Ürün İşlemleri</span></li>
		<li class="nav-item">
			
			<a class="nav-link" href="/Admin/Urun/Index/">
				<span class="menu-title">Ürünleri Listele</span>
				<i class="icon-list menu-icon"></i>
			</a>
			<a class="nav-link" href="/Admin/Urun/DeleteUrun/">
				<span class="menu-title">Ürün Sil</span>
				<i class="icon-trash menu-icon"></i>
			</a>
		</li>
		<li class="nav-item nav-category"><span class="nav-link">Kullanıcı İşlemleri</span></li>
		<li class="nav-item">
			<a class="nav-link" href="/Admin/Kullanici/Index/">
				<span class="menu-title">Kullanıcıları Listele</span>
				<i class="icon-list menu-icon"></i>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Admin/Kullanici/DeleteKullanici/">
				<span class="menu-title">Kullanıcı Sil</span>
				<i class="icon-trash menu-icon"></i>
			</a>
		</li>
	</ul>
</nav>