
<nav class="sidebar sidebar-offcanvas" id="sidebar">
	<ul class="nav">
		<li class="nav-item nav-category">
			<span class="nav-link">Dashboard</span>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Deshboard/index.html">
				<span class="menu-title">Anasayfa</span>
				<i class="icon-screen-desktop menu-icon"></i>
			</a>
		</li>
		<li class="nav-item nav-category"><span class="nav-link">Kategori İşlemleri</span></li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
				<span class="menu-title">Kategori Ekle</span>
				<i class="icon-layers menu-icon"></i>
			</a>
			
		</li>
		<li class="nav-item">
			<a class="nav-link" href="">
				<span class="menu-title">Kategori Düzenle</span>
				<i class="icon-globe menu-icon"></i>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="">
				<span class="menu-title">Kategori Sil</span>
				<i class="icon-book-open menu-icon"></i>
			</a>
		</li>
		<li class="nav-item nav-category"><span class="nav-link">Ürün İşlemleri</span></li>
		<li class="nav-item">
			<a class="nav-link" href="">
				<span class="menu-title">Ürün Sil</span>
				<i class="icon-book-open menu-icon"></i>
			</a>
			<a class="nav-link" href="">
				<span class="menu-title">Ürünleri Listele</span>
				<i class="icon-book-open menu-icon"></i>
			</a>
		</li>
		<li class="nav-item nav-category"><span class="nav-link">Kullanıcı İşlemleri</span></li>
		<li class="nav-item">
			<a class="nav-link" href="">
				<span class="menu-title">Kullanıcıları Listele</span>
				<i class="icon-book-open menu-icon"></i>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="">
				<span class="menu-title">Kullanıcıları Kullanıcı Sil</span>
				<i class="icon-book-open menu-icon"></i>
			</a>
		</li>
	</ul>
</nav>