<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Dashboard/Index/">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/ReceiverMessage/">
                <i class="mdi mdi-message-alert menu-icon"></i>
                <span class="menu-title">Gelen Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/SenderMessage/">
                <i class="mdi mdi-message-text menu-icon"></i>
                <span class="menu-title">Giden Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/SendMessage/">
                <i class="mdi mdi-message-plus menu-icon"></i>
                <span class="menu-title">Yeni Mesaj</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Default/Index/">
                <i class="icon-grid-2 menu-icon"></i>
                <span class="menu-title">Duyurular</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Profile/Index/">
                <i class="mdi mdi-face menu-icon"></i>
                <span class="menu-title">Profil</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Writer/Profile/Index/">
                <i class="icon-contract menu-icon"></i>
                <span class="menu-title">Ayarlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Login/LogOut/">
                <i class="mdi mdi-exit-to-app menu-icon"></i>
                <span class="menu-title">Cikis Yap</span>
            </a>
        </li>
    </ul>
</nav>
