
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<!-- Header Contetnt -->
			<div class="content-block">
				<h1>Alıp & Satmak Çok Yakınınızda </h1>
				<p>Dünyadaki diğer topluluklarla birlikte  <br> Birbirlerinden alıp satan milyonlara katılın </p>
				<div class="short-popular-Category-list text-center">
					<h2>Popüler Kategoriler</h2>
					<ul class="list-inline">
						<li class="list-inline-item">
							<a asp-controller="category" asp-action="Elektronik"><i class="fa fa-bolt"></i> Elektronik</a>
						</li>
						<li class="list-inline-item">
							<a asp-controller="category" asp-action="Moda"><i class="fa fa-female"></i> Moda</a>
						</li>
						<li class="list-inline-item">
							<a asp-controller="category" asp-action="EvYasam"><i class="fa fa-home"></i> Ev, Yaşam</a>
						</li>
						<li class="list-inline-item">
							<a asp-controller="category" asp-action="SporOutdoor"><i class="fa fa-heart-o"></i> Spor, Outdoor</a>
						</li>
						<li class="list-inline-item">
							<a asp-controller="category" asp-action="Kozmetik"><i class="fa fa-sun-o"></i> Kozmetik</a>
						</li>
					</ul>
				</div>

			</div>
			<!-- Advance Search -->
			<div class="advance-search">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-12 col-md-12 align-content-center">
							<form asp-controller="Category" asp-action="Index" method="get">
								<div class="form-row justify-content-center">
									<div class="form-group col-md-6">
										<input type="text" class="form-control my-2 my-lg-1" id="inputtext4" name="query" placeholder="Neye bakmıştın canım....">
									</div>								
									<div class="form-group col-md-2 align-self-center">
										<button type="submit" class="btn btn-primary">Şimdi Ara</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>