
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}


<!--===============================
=            Hero Area            =
================================-->

<section class="hero-area bg-1 text-center overly">
	<!-- Container Start -->
	@await Html.PartialAsync("/Views/Default/HeadContentPartial.cshtml")
	<!-- Container End -->
</section>

<!--===================================
=            Client Slider            =
====================================-->
<!--===========================================
=            Popular deals section            =
============================================-->
@await Component.InvokeAsync("TrendingAdds")


<!--==========================================
=            All Category Section            =
===========================================-->

<section class=" section">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-12">
				<!-- Section title -->
				<div class="section-title">
					<h2>All Categories</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, provident!</p>
				</div>
				<div class="row">
					<!-- Category list -->
					<div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
						<div class="Category-block">
							<div class="header">
								<i class="fa fa-laptop icon-bg-1"></i>
								<h4>Electronics</h4>
							</div>
							<ul class="Category-list">
								<li><a href="Category.html">Laptops <span>93</span></a></li>
								<li><a href="Category.html">Iphone <span>233</span></a></li>
								<li><a href="Category.html">Microsoft  <span>183</span></a></li>
								<li><a href="Category.html">Monitors <span>343</span></a></li>
							</ul>
						</div>
					</div> <!-- /Category List -->
					<!-- Category list -->
					<div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
						<div class="Category-block">
							<div class="header">
								<i class="fa fa-apple icon-bg-2"></i>
								<h4>Restaurants</h4>
							</div>
							<ul class="Category-list">
								<li><a href="Category.html">Cafe <span>393</span></a></li>
								<li><a href="Category.html">Fast food <span>23</span></a></li>
								<li><a href="Category.html">Restaurants  <span>13</span></a></li>
								<li><a href="Category.html">Food Track<span>43</span></a></li>
							</ul>
						</div>
					</div> <!-- /Category List -->
					<!-- Category list -->
					<div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
						<div class="Category-block">
							<div class="header">
								<i class="fa fa-home icon-bg-3"></i>
								<h4>Real Estate</h4>
							</div>
							<ul class="Category-list">
								<li><a href="Category.html">Farms <span>93</span></a></li>
								<li><a href="Category.html">Gym <span>23</span></a></li>
								<li><a href="Category.html">Hospitals  <span>83</span></a></li>
								<li><a href="Category.html">Parolurs <span>33</span></a></li>
							</ul>
						</div>
					</div> <!-- /Category List -->
					<!-- Category list -->
					<div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
						<div class="Category-block">
							<div class="header">
								<i class="fa fa-shopping-basket icon-bg-4"></i>
								<h4>Shoppings</h4>
							</div>
							<ul class="Category-list">
								<li><a href="Category.html">Mens Wears <span>53</span></a></li>
								<li><a href="Category.html">Accessories <span>212</span></a></li>
								<li><a href="Category.html">Kids Wears <span>133</span></a></li>
								<li><a href="Category.html">It & Software <span>143</span></a></li>
							</ul>
						</div>
					</div> <!-- /Category List -->
					<!-- Category list -->
					<div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
						<div class="Category-block">
							<div class="header">
								<i class="fa fa-briefcase icon-bg-5"></i>
								<h4>Jobs</h4>
							</div>
							<ul class="Category-list">
								<li><a href="Category.html">It Jobs <span>93</span></a></li>
								<li><a href="Category.html">Cleaning & Washing <span>233</span></a></li>
								<li><a href="Category.html">Management  <span>183</span></a></li>
								<li><a href="Category.html">Voluntary Works <span>343</span></a></li>
							</ul>
						</div>
					</div> <!-- /Category List -->
					<!-- Category list -->
					<div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
						<div class="Category-block">
							<div class="header">
								<i class="fa fa-car icon-bg-6"></i>
								<h4>Vehicles</h4>
							</div>
							<ul class="Category-list">
								<li><a href="Category.html">Bus <span>193</span></a></li>
								<li><a href="Category.html">Cars <span>23</span></a></li>
								<li><a href="Category.html">Motobike  <span>33</span></a></li>
								<li><a href="Category.html">Rent a car <span>73</span></a></li>
							</ul>
						</div>
					</div> <!-- /Category List -->
					<!-- Category list -->
					<div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
						<div class="Category-block">
							<div class="header">
								<i class="fa fa-paw icon-bg-7"></i>
								<h4>Pets</h4>
							</div>
							<ul class="Category-list">
								<li><a href="Category.html">Cats <span>65</span></a></li>
								<li><a href="Category.html">Dogs <span>23</span></a></li>
								<li><a href="Category.html">Birds  <span>113</span></a></li>
								<li><a href="Category.html">Others <span>43</span></a></li>
							</ul>
						</div>
					</div> <!-- /Category List -->
					<!-- Category list -->
					<div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
						<div class="Category-block">

							<div class="header">
								<i class="fa fa-laptop icon-bg-8"></i>
								<h4>Services</h4>
							</div>
							<ul class="Category-list">
								<li><a href="Category.html">Cleaning <span>93</span></a></li>
								<li><a href="Category.html">Car Washing <span>233</span></a></li>
								<li><a href="Category.html">Clothing  <span>183</span></a></li>
								<li><a href="Category.html">Business <span>343</span></a></li>
							</ul>
						</div>
					</div> <!-- /Category List -->


				</div>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>
<!--====================================
=            Call to Action            =
=====================================-->

<section class="call-to-action overly bg-3 section-sm">
	<!-- Container Start -->
	<div class="container">
		<div class="row justify-content-md-center text-center">
			<div class="col-md-8">
				<div class="content-holder">
					<h2>
						Start today to get more exposure and
						grow your business
					</h2>
					<ul class="list-inline mt-30">
						<li class="list-inline-item"><a class="btn btn-main" asp-area="User" asp-controller="Urun" asp-action="AddAdvert">İlan Ekle</a></li>
						<li class="list-inline-item"><a class="btn btn-secondary" asp-controller="Category" asp-action="Index">İlanları Gör</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>