
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}


<!--===============================
=            Hero Area            =
================================-->

<section class="hero-area bg-1 text-center overly">
	<!-- Container Start -->
	@await Html.PartialAsync("/Views/Default/HeadContentPartial.cshtml")
	<!-- Container End -->
</section>

<!--===================================
=            Client Slider            =
====================================-->
<!--===========================================
=            Popular deals section            =
============================================-->
@await Component.InvokeAsync("TrendingAdds")


<!--==========================================
=            All Category Section            =
===========================================-->

<section class=" section">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			@await Component.InvokeAsync("CategoryAdds")

			
		</div>
	</div>
	<!-- Container End -->
</section>
<!--====================================
=            Call to Action            =
=====================================-->

<section class="call-to-action overly bg-3 section-sm">
	<!-- Container Start -->
	<div class="container">
		<div class="row justify-content-md-center text-center">
			<div class="col-md-8">
				<div class="content-holder">
					<h2>
						Start today to get more exposure and
						grow your business
					</h2>
					<ul class="list-inline mt-30">
						<li class="list-inline-item"><a class="btn btn-main" asp-area="User" asp-controller="Urun" asp-action="AddAdvert">İlan Ekle</a></li>
						<li class="list-inline-item"><a class="btn btn-secondary" asp-controller="Category" asp-action="Index">İlanları Gör</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>