<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<nav class="navbar navbar-expand-lg navbar-light navigation">
					<a class="navbar-brand" href="#">
						@*Duzenlenecek*@
						<img src="~/template/images/logo.png" alt="">
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
							aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto main-nav ">
							<li class="nav-item active">
								<a class="nav-link" href="index.html">Anasayfa</a>
							</li>
							<li class="nav-item dropdown dropdown-slide">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="">
									Kategoriler<span><i class="fa fa-angle-down"></i></span>
								</a>

								<!-- Dropdown list -->
								<div class="dropdown-menu">
									<a class="dropdown-item" href="dashboard.html">Kategori</a>
									<a class="dropdown-item" href="dashboard-my-ads.html">Ürünler</a>
									<a class="dropdown-item" href="dashboard-favourite-ads.html">Favori Ürünler</a>
									<a class="dropdown-item" href="dashboard-archived-ads.html">Arşivlenmiş ürünler</a>
									<a class="dropdown-item" href="dashboard-pending-ads.html">İndirimde Olan Ürünler</a>
								</div>
							</li>
							<li class="nav-item dropdown dropdown-slide">
								<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Sayfalar <span><i class="fa fa-angle-down"></i></span>
								</a>
								<!-- Dropdown list -->
								<div class="dropdown-menu">
									<a class="dropdown-item" href="about-us.html">Hakkımızda</a>
									<a class="dropdown-item" href="contact-us.html">Bize Ulaşın</a>
									<a class="dropdown-item" href="user-profile.html">Kullanıcı Profili</a>
									<a class="dropdown-item" href="package.html">Sepet</a>
									<a class="dropdown-item" href="single.html">Tek sayfa</a>
									<a class="dropdown-item" href="store.html">Mağza</a>
								</div>
							</li>
						</ul>
						<ul class="navbar-nav ml-auto mt-10">
							<li class="nav-item">
								<a class="nav-link login-button" href="login.html">Giriş</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-white add-button" href="ad-listing.html"><i class="fa fa-plus-circle"></i> Üye OL</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
</section>
