<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<nav class="navbar navbar-expand-lg navbar-light navigation">
					<a class="navbar-brand" href="/">
						<img src="~/template/images/logo.png" alt="">
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
							aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto main-nav ">
							<li class="nav-item active">
								<a class="nav-link" href="/">Anasayfa</a>
							</li>
							<li class="nav-item dropdown dropdown-slide">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" asp-controller="Category" asp-action="Index">
									Kategoriler<span><i class="fa fa-angle-down"></i></span>
								</a>

								<!-- Dropdown list -->
								<div class="dropdown-menu">
									<a class="dropdown-item" asp-controller="Category" asp-action="Elektronik">Elektronik</a>
									<a class="dropdown-item" asp-controller="Category" asp-action="Moda">Moda</a>
									<a class="dropdown-item" asp-controller="Category" asp-action="EvYasam">Ev, Yaşam</a>
									<a class="dropdown-item" asp-controller="Category" asp-action="SporOutdoor">Spor, Outdoor</a>
									<a class="dropdown-item" asp-controller="Category" asp-action="Kozmetik">Kozmetik</a>
									<a class="dropdown-item" asp-controller="Category" asp-action="Index">Tüm kategorilerdeki ürünler</a>		
									
								</div>
							</li>
							<li class="nav-item dropdown dropdown-slide">
								<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Sayfalar <span><i class="fa fa-angle-down"></i></span>
								</a>
								<!-- Dropdown list -->
								<div class="dropdown-menu">
									<a class="dropdown-item"  asp-controller="Static" asp-action="About" >Hakkımızda</a>
									<a class="dropdown-item"  asp-controller="Static" asp-action="Contact"  >Bize Ulaşın</a>
									<a class="dropdown-item"  asp-area="User" asp-controller="Dashboard" asp-action="Index">Kullanıcı Profili</a>
								</div>
							</li>
						</ul>
						@await Component.InvokeAsync("LoginList")
						
					</div>
				</nav>
			</div>
		</div>
	</div>
</section>
