

<div class="profile-thumb">
	
		@if (ViewBag.v == null)
		{

			<img src="~/template/images/profil.jpg" alt="" class="rounded-circle">
		}
		else
		{
			<img src="~/Userimage/@ViewBag.v" alt="" class="rounded-circle">
		}
	


</div>
<h5 class="text-center">@TempData["AD"] @TempData["Soyad"]</h5>
<p>@TempData["Tarih"]</p>
<a href="~/User/Profile/index" class="btn btn-main-sm">Profili Düzenle</a>