

@model IlanSistemi.Entities.Concrete.Users

@{
    ViewData["Title"] = "SuspendUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Suspend User</h2>

<form asp-controller="Kullanici" asp-action="SuspendUser" method="post">
    <input type="hidden" asp-for="Id" value="@Model.Id" />

    <label for="suspensionTime">Suspend Süresi:</label>
    <select id="suspensionTime" name="SuspensionDuration">
        <option value="1">1 saat</option>
        <option value="6">6 saat</option>
        <option value="12">12 saat</option>
        <option value="24">24 saat</option>
    </select>

    <button type="submit" class="btn btn-inverse-info">Hesabı Askıya Al</button>
</form>
