@using IlanSistemi.Entities.Concrete
@model List<Users>
<div class="col-md-6 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<div class="d-sm-flex align-items-center mb-4">
				<h4 class="card-title mb-sm-0">Kullanıcılar</h4>
			</div>
			<div class="table-responsive border rounded p-1">
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th class="font-weight-bold">Kullanıcı Adı</th>

							<th class="font-weight-bold">Katılış Yılı</th>

							<th class="font-weight-bold">Durum</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>

									@if (item.ImageUrl == null)
									{

										<img class="img-sm rounded-circle" src="~/template/images/profil.jpg" alt="" alt="profile image">
									}
									else
									{
										<img class="img-sm rounded-circle" src="~/UserImage/@item.ImageUrl" alt="profile image">
									}


								</td>
								<td>@item.Name</td>


								<td>@item.CreatedAt.Value.Year</td>

								<td>
									@if(item.IsBanned == true)
									{
										<div class="badge badge-danger p-2">Hesap Banlı</div>
									}
									else if (item.IsSuspended == true)
									{
										<div class="badge badge-info p-2">Hesap Askıya Alınmış</div>
									}
									else
									{
										<div class="badge badge-success p-2">Hesap Aktif</div>
									}
									
								</td>
							</tr>
						}


					</tbody>
				</table>
			</div>

		</div>
	</div>
</div>