<!DOCTYPE html>
<html lang="en">
@await Html.PartialAsync("/Views/Default/HeadPartial.cshtml")
<body class="body-wrapper">

    @await Html.PartialAsync("/Views/Default/NavbarPartial.cshtml")


    <section class="page-search">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Advance Search -->
                    <div class="advance-search">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <input type="text" class="form-control my-2 my-lg-0" id="inputtext4" placeholder="Aramak yapmak istediğiniz ürünü giriniz">
                                </div>
                                <div class="form-group col-md-2">

                                    <button type="submit" class="btn btn-primary">Ara</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="search-result bg-gray">
                        <h2>@ViewBag.Category</h2>
                        <p>@ViewBag.AdvertCount Results on @DateTime.Now</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="Category-sidebar">
                        @await Component.InvokeAsync("CategoryList")                      

                        <div class="widget product-shorting">
                            <h4 class="widget-header">Ürün Durumuna Göre</h4>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="">
                                    Sıfır Ürün
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="">
                                    Çok Az Kullanılmış
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="">
                                    2. El Ürün
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="">
                                    Teşhir Ürünü
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="Category-search-filter">
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Sıralama</strong>
                                <select>
                                    <option>En Yeni</option>
                                    <option value="1">En Popüler</option>
                                    <option value="2">Düşük Fiyat</option>
                                    <option value="4">Yüksek Fiyat</option>
                                </select>
                            </div>
                        </div>
                        <div class="product-grid-list">
                            @RenderBody()
                        </div>
                        <div class="pagination justify-content-center">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--============================
    =            Footer            =
    =============================-->
    @await Html.PartialAsync("/Views/Default/FooterSectionPartial.cshtml")
    <!-- Footer Bottom -->
    @await Html.PartialAsync("/Views/Default/FooterBottomPartial.cshtml")
    <!-- JAVASCRIPTS -->
    @await Html.PartialAsync("/Views/Default/ScriptPartial.cshtml")

</body>
</html>
