<!DOCTYPE html>
<html lang="en">
	@await Html.PartialAsync("/Views/Default/HeadPartial.cshtml")
<body class="body-wrapper">

	@await Html.PartialAsync("/Views/Default/NavbarPartial.cshtml")

	@RenderBody();

	<!--============================
	=            Footer            =
	=============================-->
	@await Html.PartialAsync("/Views/Default/FooterSectionPartial.cshtml")
	<!-- Footer Bottom -->
	@await Html.PartialAsync("/Views/Default/FooterBottomPartial.cshtml")
	<!-- JAVASCRIPTS -->
	@await Html.PartialAsync("/Views/Default/ScriptPartial.cshtml")

</body>
</html>