@using IlanSistemi.Entities.Concrete;
@using IlanSistemi.UI.Areas.User.Controllers
@using IlanSistemi.UI.Areas.User.Models;
@using Microsoft.AspNetCore.Identity;

@model AddAdvertViewModel
@{
	ViewData["Title"] = "AddAdvert";
	Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@{
	var user = TempData["User"] as Users;
	var userIdentity = (System.Security.Claims.ClaimsIdentity)User.Identity;
	var userId = userIdentity.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
}

<form method="post" enctype="multipart/form-data">
	<div class="form-group">
		<label for="AdvertUser">User:</label>
		<input type="text" class="form-control" asp-for="userId" value="@user.Id" required />

	</div>

	<div class="form-group">
		<label for="Advert_Title">Title:</label>
		<input type="text" class="form-control" asp-for="Title" required>
	</div>

	<div class="form-group">
		<label for="Advert_Description">Description:</label>
		<textarea class="form-control" asp-for="Description" required></textarea>
	</div>

	<div class="form-group">
		<label for="SelectedCategoryIds">Categories:</label>
		<select multiple class="form-control" asp-for="CategoryId" required>
			@foreach (var category in TempData["Category"] as IEnumerable<Category>)
			{
				<option value="@category.Id">@category.Name</option>
			}
		</select>

	</div>

	<div class="form-group">
		<label for="AdvertImages">Images:</label>
		<input type="file" class="form-control" asp-for="ImagePath" required multiple>
		<span class="text-danger">@Html.ValidationMessageFor(m => m.ImagePath)</span>
	</div>

	

	

	<button type="submit" class="btn btn-primary">Kaydet</button>
</form>
