@using IlanSistemi.UI.Areas.User.Controllers

@model List<AdvertViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="widget dashboard-container my-adslist">
    <h3 class="widget-header">Ürünlerim</h3>
    <table class="table table-responsive product-dashboard-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Ürün Adı</th>
                <th class="text-center">Kategorisi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="product-thumb">
                        <img width="80px" height="auto" src="~/template/images/products/products-1.jpg" alt="image description">
                    </td>
                    <td class="product-details">
                        <h3 class="title">@item.Advert.Title</h3>
                        <span class="add-id"><strong>Ürün ID:</strong> @item.Advert.Id</span>
                        <span><strong>Eklenme Tarihi: </strong><time>@item.Advert.CreatedAt</time></span>
                    </td>
                    <td class="product-category"><span class="categories">@string.Join(", ", item.Categories.Select(c => c.Name))</span></td>
                </tr>
            }
        </tbody>
    </table>
</div>
