<div class="sidebar">
	<!-- User Widget -->
	<div class="widget user-dashboard-profile">
		@await Component.InvokeAsync("Navbar")

	</div>
	<!-- Dashboard Links -->
	<div class="widget user-dashboard-menu">
		<ul>
			<li class="active">
				<a href="~/User/Dashboard/index"><i class="fa fa-user"></i> Ana Sayfa</a>
			</li>
			<li>
				<a href="~/User/Urun/index"><i class="fa fa-bookmark-o"></i> Ürün Düzenleme </a>
			</li>

			<li>
				<a href="~/User/Login/LogOut"><i class="fa fa-cog"></i> Çıkış</a>
				<i class=""></i>
			</li>

		</ul>
	</div>

</div>